html, body{
  background: #293232;
}
a, a:link, a:visited, a:active  {color: #293232;}
a:hover                         {color: #354242;}
header, nav, article, footer{
  width: 900px;
  margin: 0 auto;
}
header{
  background: #354242 url('../image/Icon.png') no-repeat;
  background-position: 680px 0;
  height: 100px;
}
.title{
  -webkit-transform: rotate(-10deg); 
  -moz-transform: rotate(-10deg);
	text-shadow: 3px 3px 4px #111;
}
header h1.title{
  font-size: 24px;
  color: #E7FF60;
  padding: 5px 0 0 0;
  margin-left:500px;
}
header p.title{
  color: #F7FFC3;
  margin-left:550px;
}
nav{
  background-color: #7D9100;
  height: 20px;
}
nav ul{;
  margin: 0 0 0 20px;
}
nav li{
  list-style: none;
  float: left;
  text-align: center;
  min-width: 50px;
  min-height: 20px;
  margin: 0 1px;
  border-radius: 7px 7px 0 0;
}
nav li a{
  font: 12px;
  padding: 0 10px;
  display: block;
  min-width: 50px;
  min-height: 20px;
}
nav li, nav li:link, nav li:visited, nav li:active          {background: #C0D060;}
nav li:hover                                                {background: #354242;}
nav li a, nav li a:link, nav li a:visited, nav li a:active  {color: #293232;}
nav li a:hover                                              {color: #E7FF60;}
article{
  background-color: #D5D7A5;
  height: 480px;
}
article .head      {background: #354242; border-radius: 7px 7px 0 0; color:#E7FF60;}
article .left      {border-left: 1px solid #fff;}
article .right     {border-right: 1px solid #fff;}
article .foot      {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 0 0 5px 5px;
}
article td, article th     {padding: 7px 10px; background-color:#EBEEBF;}
article table      {margin: auto;}
footer{
  background-color: #C9DE55;
  height: 20px;
  text-align: right;
}
footer p{
  font-size: 10px;
  padding: 3px;
}
/*
#login, #newtrip{
  position: relative;
  top: 100px;
  width: 300px;
  margin: auto;
  padding: 10px;
}
#signup, #newgroup, */
article>div{
  position: relative;
  top: 100px;
  margin: auto;
  padding: 10px;
}
.login_fail{
  position: fixed;
  top: 200px;
  left: 410px;
  padding: 7px 200px;
  background-color: #FEFFAC;
  color:#F00;
}
.logout{
  position: fixed;
  top: 200px;
  left: 392px;
  padding: 7px 200px;
  background-color: #FEFFAC;
  color:#F00;
}
.welcome{
  float:right;
  padding: 3px 5px 3px 100px;
  background-color: #BAC282;
  border-radius: 0 0 0 5px;
  font-size: 90%;
}
.welcome a, .welcome a:link, .welcome a:visited, .welcome a:active  {color: #EF3C00;}
.welcome a:hover                                                    {color: #C95F09;}
#dashboard h1{
  display: block;
  border-radius: 10px 10px 0 10px;
  background: #354242;
  color: #E7FF60;
  padding: 5px 10px;
  max-width:50px;
}
#dashboard table  { margin:0; width: 100%;}
#dashboard th     { color: #293232; background: #C0D060; border-radius: 10px 10px 0 0;}
#dashboard>div    { padding: 10px;}
#dashboard .left  { border:0; float: left; clear: both;}
#dashboard .right { border:0; float: right; clear: right;}
#dashboard ul     { float: right; background: #fff; border-radius:0 0 0 10px;}
#dashboard li     { padding: 5px; list-style: none; float: left;}
#dashboard li a   { color: #293232;}
#dashboard li a:hover{ color: #000;}
.sixty               { width: 60%;}
.thirty              { width: 30%;}
.forty-five          { width: 45%;}