html, body{
  background: #293232;
}
header, nav, article, footer{
  width: 900px;
  margin: 0 auto;
}
header{
  background: #354242 url('../image/Icon.png') no-repeat;
  background-position: 680px 0;
  height: 100px;
}
.title{
  -webkit-transform: rotate(-10deg); 
  -moz-transform: rotate(-10deg);
	text-shadow: 3px 3px 4px #111;
}
header h1.title{
  font-size: 24px;
  color: #E7FF60;
  padding: 5px 0 0 0;
  margin-left:500px;
}
header p.title{
  color: #F7FFC3;
  margin-left:550px;
}
nav{
  background-color: #7D9100;
  height: 20px;
}
nav ul{;
  margin: 0 0 0 20px;
}
nav li{
  list-style: none;
  float: left;
  text-align: center;
  min-width: 50px;
  min-height: 20px;
  margin: 0 1px;
  border-radius: 7px 7px 0 0;
}
nav li a{
  font: 12px;
  padding: 0 10px;
  display: block;
  min-width: 50px;
  min-height: 20px;
}
nav li, nav li:link, nav li:visited, nav li:active          {background: #C0D060;}
nav li:hover                                                {background: #354242;}
nav li a, nav li a:link, nav li a:visited, nav li a:active  {color: #293232;}
nav li a:hover                                              {color: #E9EFEF;}

article{
  background-color: #D5D7A5;
  height: 480px;
}
footer{
  background-color: #C9DE55;
  height: 20px;
  text-align: right;
}
footer p{
  font-size: 10px;
  padding: 3px;
}

#login{
  position: relative;
  top: 100px;
  width: 300px;
  margin: auto;
  padding: 10px;
}
#login table      {margin: auto;}
#login .head      {background: #354242; border-radius: 7px 7px 0 0; color:#E7FF60;}
#login .left      {border-left: 1px solid #fff;}
#login .right     {border-right: 1px solid #fff;}
#login .foot{
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 0 0 5px 5px;
}
#login td,#login th     {padding: 7px 10px;}
